<div class="container">
  <h1><a href="/">Squirrel Pop</a></h1>
  <h3>Create a new post</h3>
  <div id="create post">
  	<form method="post" action="/create_post">
  	<p>Post title:</p>
  	<p><input type="text" name="title"></p>
  	<p>Post body:<p>
  	<textarea rows="10" cols="40" name="body"></textarea>
  	<p>Tags (separate with comma):&nbsp;<input type="text" name="tags"></p>
  	<p><input type="submit" value="Publish!"></p>
  	</form>
 	</div>
</div>